.list {
    list-style-type: none;
    padding: 10;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button:hover {
    background-color: #e60000;
}